.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.effectOne{
  display: flex;
  border: solid;
  border-radius: 20%;
  border-color: var(--white);
  padding: 2%;
}

.effectTwo{
  display: flex;
  border: dashed;
  border-radius: 5%;
  border-color: var(--black);
  border-width: 5px;
  padding: 2%;
}

.effectThree{
  display: flex;
  border: solid;
  border-radius: 20%;
  border-color: var(--white);
  padding: 2%;
}

.carousel{
  border: dashed;
  border-radius: 5%;
  border-color: var(--black);
  border-width: 5px;
  padding: 2%;
}